#toast {
  animation: fade-in-scale 0.3s ease-out;
}

body {
  background-color: rgba(46, 46, 46, 0.1);
}

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
